body {
    background-color:  rgb(108, 220, 255);
}
#av-player{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1700px;
	height: 1080px;
}
div{
	position: absolute;
	top:0px;
	right:0px;
}
img{
	width: 1920px;
	height: 1080px;
}
table{
	position: absolute;
	top:0px;
	right:0px;
	width:220px;
	max-width:220px;
}